#navbar-components{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 1% 10%;
    height: 50px;
}

.brand-1{
    color: #6b8e6f;
    font-size: 30px;
}

.brand-2{
    color: darkgoldenrod;
    font-size: 30px;
}

.move-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.btn-href{
    display: inline-block;
    text-decoration: none;
    color: grey;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 20px;
}

.btn-href:hover{
    background-color: rgb(107 142 111 / 40%);
    cursor: pointer;
}

.btn-href.active {
    background-color: #6b8e6f; 
    color: white; 
}

.logo{
    width : 180px;
    object-fit: contain;
    margin-top: 10px;
}

.auth-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-logged-in{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.notification-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-notification{
    width: 60px;  
    height: 60px;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 80px;
}

.btn-notification:hover{
    cursor: pointer;
    background-color: rgb(107 142 111 / 40%);
}

.bell-image{
    width: 40px;
    object-fit: contain;
}

.user-logged-out{
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn-login{
    text-decoration: none;
    color: black;
    border-radius: 8px;
    font-size: 25px;
    padding: 5px 10px;
    border-radius: 20px;
}

.btn-login:hover{
    cursor: pointer;
    background-color: burlywood;
    color: white;
}

.user-profile-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.account-name{
    color: black;
    font-size: 25px;
}

.btn-profile{
    width: 60px;  
    height: 60px;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    padding: 10px 15px;
}

.btn-profile:hover{
    cursor: pointer;
    background-color: rgb(107 142 111 / 40%);
}

.profile-image{
    width: 50px;
}

